- title "Backend"

#main-content
  %h1 Backend
  %p What do you want to modify?
  
  %ul
    %li= link_to("Content", url(:"mcms/content_items"))
    %li= link_to("Switch Site", url(:"mcms/sites"))