- require_js :content_items_index
#main-content
  %h1 Site Content
  %ul
    %li= link_to("Add", url(:"new_mcms/content_item"))
  - unless @content_items.empty?
    %table
      %thead
        %tr
          %th Title
          %th URL
          %th Action
      %tbody
        - @content_items.each do |item|
          %tr
            %td= item.title
            %td= item.url
            %td
              %a.edit{ :href => url(:"edit_mcms/content_item", :id => item.id), :title => "edit" } edit
              %a.delete{ :href => url(:"destroy_mcms/content_item", :id => item.id, :rev => item.rev), :title => "delete" } delete
  - else
    %p no content added to site yet
  
