#main-content
  %h1
    Add Domain
  %p
    The domain below, is not currently registered to a site.
  %ul
    %li
      = request.server_name
  %p
    What would you like to do?
  %ul
    %li
      attach to existing site
    %li
      create new site